   canvas {
    display: block;
    z-index: 10;
    position: fixed;
  }
  
  #P-cont {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
  }
  
  #particles-js {
  

    opacity: 100%;


  }
  

  