body {
  font-family: "Poppins", sans-serif;
}

:root {
  --accent: rgb(255, 37, 102);
}

::-webkit-scrollbar {
  width: 1px;
  background: rgb(0, 0, 0);
}

::-moz-selection {
  background: var(--accent);
}

::selection {
  background: var(--accent);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./media/images/layered-waves-haikei.svg");
  background-size: fit;
}

nav {
  background: white;
  display: flex;
  height: 4em;
  outline: 1.2px solid black;
  align-items: center;
  justify-content: space-between;
}
nav menu {
  transition: 0.2s;
  margin-right: 1em;
  gap: 1em;
  display: flex;
}
nav menu a {
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  text-decoration: none;
  transition: 0.2s;
}
nav menu a:hover {
  color: var(--accent);
}
nav menu li {
  list-style: none;
}
nav h2 {
  font-size: 2em;
  margin-left: 0.4em;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

p {
  margin-left: 1em;
  display: flex;
  align-items: center;
  font-size: min(7vw, 3em);
  font-weight: 200;
  width: 55vw;
  height: 90vh;
}

#login,
#Signup {
  outline: 2px solid black;
  border-radius: 50px;
  margin-top: 3em;
  height: 30rem;
  width: 28rem;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px black;
  display: flex;
}
#login form,
#Signup form {
  position: relative;
  margin-top: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: column;
}
#login form h1,
#Signup form h1 {
  font-size: 3em;
}
#login form div,
#Signup form div {
  margin-top: 1em;
  width: 100%;
  gap: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#login form #Submit,
#Signup form #Submit {
  bottom: 1em;
  position: absolute;
  background: #03265a;
  font-size: 1.3em;
  font-weight: 500;
  color: aliceblue;
}
#login form #Submit:hover,
#Signup form #Submit:hover {
  background: #194992;
}
#login form input,
#Signup form input {
  text-indent: 1em;
  height: 3em;
  outline: 1px solid black;
  border: none;
  border-radius: 500px;
  width: 90%;
}

#menuButton {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media (max-width: 500px) {
  p {
    margin-left: 1em;
    display: flex;
    align-items: center;
    font-size: min(7vw, 4em);
    font-weight: 500;
    width: 70vw;
  }
  #login,
  #Signup {
    outline: 1px solid black;
    border-radius: 50px;
    margin-top: 3em;
    height: 30rem;
    width: 90vw;
    background: rgb(255, 255, 255);
    display: flex;
  }
  #login form,
  #Signup form {
    position: relative;
    margin-top: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
  }
  #login form h1,
  #Signup form h1 {
    font-size: 3em;
  }
  #login form div,
  #Signup form div {
    margin-top: 1em;
    width: 100%;
    gap: 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #login form #Submit,
  #Signup form #Submit {
    bottom: 1em;
    position: absolute;
    background: #03265a;
    font-size: 1.3em;
    font-weight: 500;
    color: aliceblue;
  }
  #login form #Submit:hover,
  #Signup form #Submit:hover {
    background: #194992;
  }
  #login form input,
  #Signup form input {
    text-indent: 1em;
    height: 3em;
    outline: 1px solid black;
    border: none;
    border-radius: 500px;
    width: 90%;
  }
  #menuButton {
    display: block;
    margin-right: 0.8em;
    cursor: pointer;
  }
  #menuButton:hover {
    color: var(--accent);
  }
  nav {
    z-index: 100000;
    height: 4em;
    outline: 1.2px solid black;
    align-items: center;
    justify-content: space-between;
  }
  nav menu {
    z-index: 1;
    position: absolute;
    top: 4em;
    right: 0px;
    width: 100%;
    margin-right: 0em;
    gap: 0px;
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: column;
  }
  nav menu a {
    padding-block: 0.4em;
    padding-right: 1em;
    text-align: end;
    width: 100%;
    height: 100%;
    font-weight: 400;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    text-decoration: none;
    transition: 0.1s;
  }
  nav menu a:hover {
    background: #03265a;
    color: var(--accent);
  }
  nav menu li {
    display: flex;
    list-style: none;
    transition: 0.4s;
  }
  nav h2 {
    font-size: 1.7em;
  }
}/*# sourceMappingURL=style.css.map */