* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

:root {
  --accent: rgb(50, 115, 255);
  --accent2: rgb(22, 37, 252);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #0e0e0e;
}

aside {
  position: fixed;
  background: #0e0e0e;
  padding-top: 1em;
  top: 0;
  bottom: 0;
  width: 15rem;
}
aside li {
  color: rgb(255, 255, 255);
  margin-left: 1em;
  list-style: none;
}
aside li a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: color 0.4s;
}
aside li a:hover {
  color: var(--accent);
}

#rside {
  min-height: 120vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 15rem;
  padding-left: 10px;
}

button {
  font-size: 1.2em;
  font-weight: 700;
  color: aliceblue;
  background: #2c2c2c;
  border: none;
  margin-top: 1em;
  padding: 0.4em;
  padding-inline: 0.6em;
}
button:hover {
  color: aliceblue;
  background: #060825;
}

textarea {
  padding: 5px;
  font-size: 1em;
  resize: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#DoctorTags {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  gap: 5px;
}

.DoctorTag {
  cursor: pointer;
  color: aliceblue;
  background: #333738;
  padding: 0.1em;
  padding-inline: 0.6em;
  border-radius: 1em;
  transition: background-color 0.2s;
}
.DoctorTag:hover {
  color: #ffffff;
  background: #060825;
  outline: 2px solid rgb(0, 0, 0);
}

.Special {
  --borderWidth: 2px;
  background: linear-gradient(to);
  background: #333738;
  position: relative;
  border-radius: 1em;
}
.Special:hover {
  color: #ffffff;
  background: #060825;
  outline: 1px solid rgba(0, 26, 255, 0);
}
.Special:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 2em;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.activeDoctor {
  color: #ffffff;
  background: #060825;
  outline: 1px solid rgba(0, 26, 255, 0.74);
}
.activeDoctor:hover {
  color: #ffffff;
  background: #060825;
  outline: 1px solid rgba(0, 26, 255, 0.74);
}
.activeDoctor:after {
  --borderWidth:1px;
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg);
  border-radius: 2em;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.Higlighted {
  color: rgb(0, 255, 191);
}/*# sourceMappingURL=Appointments.css.map */